<div class="mdl-grid mdl-grid--no-spacing content-notes-manager">
  <!--Note Group list DIV-->
  <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone note-group-layout">
    <!--menu of NoteGroup-->
    <div class="head-menu-bar" style="background-color: #E0E0E0;">
      <span class="padding-left-font-bold">Group</span>
      <div class="fill-remaining-space"></div>
      <button mat-icon-button >
        <i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i>
      </button>
      <button mat-icon-button >
        <i class="fa fa-angle-double-up fa-2x" aria-hidden="true"></i>
      </button>
      <button mat-icon-button (click)="openNoteGroupEditDialog()">
        <i class="fa fa-pencil icon-btn-size-m" aria-hidden="true"></i>
      </button>
      <button mat-icon-button (click)="openNoteGroupRemoveDialog()">
        <i class="fa fa-minus icon-btn-size-m" aria-hidden="true"></i>
      </button>
      <button mat-icon-button (click)="openNoteGroupAddDialog()">
        <i class="fa fa-plus icon-btn-size-m" aria-hidden="true"></i>
      </button>
    </div>

    <div class="note-group-list">
      <mat-selection-list aria-multiselectable="false" color="primary">
        <mat-list-option *ngFor="let group of groupList | async"
                         (click)="loadNoteList(group)"
                         [selected]="checkGroup(group._id)"
                         [class.selectedGroup]="checkGroup(group._id)">
          {{group.name}}
        </mat-list-option>
      </mat-selection-list>
    </div>

  </div><!--End of NoteGroup list-->

  <!--Notes list DIV-->
  <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--3-col-phone notes-list-layout"
       *ngIf="selectedGroup">
    <div class="head-menu-bar">
      <span class="padding-left-font-bold">{{selectedGroup.name}}</span>
      <button mat-button [matMenuTriggerFor]="shareMenu" style="font-size: 1em;">
        <span *ngIf="selectedGroup.memberIds.length>0">Public ({{selectedGroup.memberIds.length}})</span>
        <span *ngIf="selectedGroup.memberIds.length<=0">Private</span>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <mat-menu #shareMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item [disabled]="!isOwned(selectedGroup.ownerId)" (click)="openInviteMemberDialog()">
          <span>Invite...</span>
        </button>
        <button mat-menu-item [disabled]="(!isOwned(selectedGroup.ownerId))||isEmptyMember()"
                (click)="setPrivateNoteGroup()">
          <span>Set private</span>
        </button>
        <button mat-menu-item
                [disabled]="!isOwned(selectedGroup.ownerId)"
                *ngFor="let mem of members | async"
                (click)="openShareManagerRemoveDialog(mem)">
          <span>{{ mem.profile.firstName + ' ' + mem.profile.lastName }}</span>
        </button>
      </mat-menu>
    </div>

    <!--New note Button-->
    <div style="display: inline;">
      <button mat-raised-button (click)="openNoteDialog()" class="btn-new-note">New note <i
        class="fa fa-pencil icon-btn-size-xm" aria-hidden="true"></i></button>
    </div>

    <!--List note-->
    <div class="notes-list">
      <div class="note-card" *ngFor="let note of notesList | async">
        <div class="note-card-title">
          <div>
            <span>{{note.title}}</span><br/>
            <span
              style="font-size: 0.9em; color: gray; font-style: italic;">{{ note.createdAt | date:"dd/MM/yyyy" }}</span>
          </div>
          <div class="fill-remaining-space"></div>
          <mat-spinner [@loadState]="state" mode="indeterminate" [diameter]="24"
                       style="margin-top: auto; margin-bottom: auto; opacity: 0;"></mat-spinner>
          <button mat-icon-button [matMenuTriggerFor]="itemMenu" style="font-size: 1em;">
            <i class="fa fa-ellipsis-v" style="font-size: 1.5em;" aria-hidden="true"></i>
          </button>
          <mat-menu #itemMenu="matMenu">
            <button mat-menu-item (click)="setPositionForNote(note.groupId, note._id, true)">
              <span>Move to top</span>
            </button>
            <button mat-menu-item (click)="setPositionForNote(note.groupId, note._id, false)">
              <span>Move to bottom</span>
            </button>
            <button mat-menu-item (click)="openNoteDialog(note)">
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="openRemoveNoteDialog(note)">
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
        <div *ngIf="isTextNote(note.type)" class="note-card-content">
          {{note.content}}
        </div>
        <div *ngIf="!isTextNote(note.type)" class="note-card-content">
          <div *ngFor="let todo of note.todoList">
            <mat-checkbox color="primary" [checked]="todo.checked" [class.checked]="todo.checked"
                          (change)="todoItemChange(todo, note)">
              <span class="mat-checkbox-fix-text">{{todo.content}}</span>
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div><!--End of Notes list-->
  </div>

<!--Search Note-->
  <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--3-col-phone notes-list-layout"
       *ngIf="foundNotes">
    <!--List note-->
    <div class="notes-list">
      <div class="note-card" *ngFor="let note of foundNotes | async">
        <div class="note-card-title">
          <div>
            <span>{{note.title}}</span><br/>
            <span
              style="font-size: 0.9em; color: gray; font-style: italic;">{{ note.createdAt | date:"dd/MM/yyyy" }}</span>
          </div>
          <div class="fill-remaining-space"></div>
          <mat-spinner [@loadState]="state" mode="indeterminate" [diameter]="24"
                       style="margin-top: auto; margin-bottom: auto; opacity: 0;"></mat-spinner>
          <button mat-icon-button [matMenuTriggerFor]="itemMenu" style="font-size: 1em;">
            <i class="fa fa-ellipsis-v" style="font-size: 1.5em;" aria-hidden="true"></i>
          </button>
          <mat-menu #itemMenu="matMenu">
            <button mat-menu-item (click)="setPositionForNote(note.groupId, note._id, true)">
              <span>Move to top</span>
            </button>
            <button mat-menu-item (click)="setPositionForNote(note.groupId, note._id, false)">
              <span>Move to bottom</span>
            </button>
            <button mat-menu-item (click)="openNoteDialog(note)">
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="openRemoveNoteDialog(note)">
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
        <div *ngIf="isTextNote(note.type)" class="note-card-content">
          {{note.content}}
        </div>
        <div *ngIf="!isTextNote(note.type)" class="note-card-content">
          <div *ngFor="let todo of note.todoList">
            <mat-checkbox color="primary" [checked]="todo.checked" [class.checked]="todo.checked"
                          (change)="todoItemChange(todo, note)">
              <span class="mat-checkbox-fix-text">{{todo.content}}</span>
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div><!--End of Notes list-->
  </div>
</div>



