$break-desktop: 841px;
$break-mobile: 840px;

app-notes-manager{
  width: 100%;
}

// scroollbar
//::-webkit-scrollbar
//{
//  width: 6px;
//  height: 6px;
//  background-color: #7e7e7e;
//}

.content-notes-manager{
  //box-sizing: border-box;
  display: flex;
  height: 100%;
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.note-group-layout {
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  overflow-y: hidden;
  border-right: 1px solid gray;
  padding: 0;
  margin: 0;
  @media screen and (min-width: $break-desktop) {
    display: flex;
    min-width: 267px;
  }
  @media screen and (max-width: $break-mobile) {
    display: none;
  }
}

.note-group-layout-slidenav{
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  overflow-y: hidden;
  overflow-x: hidden;
  border-right: 1px solid gray;
  padding: 0;
  margin: 0;
  @media screen and (min-width: $break-desktop) {
    display: none;
    width: 265px;
  }
  @media screen and (max-width: $break-mobile) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
  }
}

.note-group-list{
  overflow-y: auto;
  overflow-x: hidden;
}

.notes-list-layout{
  padding: 0;
  margin: 0;
  flex: 1;
  min-height: 100%;
  @media screen and (min-width: $break-desktop) {
    overflow-y: auto;
  }
  @media screen and (max-width: $break-mobile) {
    overflow-y: auto;
  }
}

.show-groups-btn{
  @media screen and (min-width: $break-desktop) {
    display: none;
  }
  @media screen and (max-width: $break-mobile) {

  }
}

.notes-list{
  //display: inherit;
  //overflow-y: scroll;
  //height: 100%;
}

//.fill-available {
//  //height: -webkit-fill-available;
//  //min-height: 300px;
//  max-height: 100%;
//}

.head-menu-bar {
  width: 100%;
  line-height: 40px;
  display: inline-block;
  vertical-align: middle;
  background-color: #E0E0E0;
}

.icon-btn-size-m {
  color: black;
  font-size: 1.2em;
}

.padding-left-font-bold {
  padding-left: 5px;
  font-weight: bold;
}

.btn-new-note {
  background-color: #33691E;
  color: white;
  margin-top: 15px;
  margin-left: 15px;
}

.note-card {
  margin: 15px;
  border-radius: 2px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  //opacity: 0.2;
  //-webkit-transform: translateY(220px);
  //transform: translateY(220px);
  //-webkit-transition: transform .95s cubic-bezier(.55, 0, .1, 1), opacity .5s cubic-bezier(.55, 0, .1, 1), box-shadow .5s cubic-bezier(.55, 0, .1, 1);
  //transition: transform .95s cubic-bezier(.55, 0, .1, 1), opacity .5s cubic-bezier(.55, 0, .1, 1), box-shadow .5s cubic-bezier(.55, 0, .1, 1);
}
.note-card.loaded {
  //opacity: 1;
  //-webkit-transform: translateY(0px);
  //transform: translateY(0px);
}

.note-card-title {
  display: flex;
  padding-left: 5px;
}

.note-card-content{
  padding-left: 5px;
}

.selectedGroup{
  background: #B3E5FC;
}

.mat-checkbox-layout{
  display: block !important;
  white-space: normal !important;
}

.notegroup-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
  padding: 0;
  margin: 0;
  flex: 1;
}

.notegroup-sidenav {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  @media screen and (min-width: $break-desktop) {
    display: none;
  }
  @media screen and (max-width: $break-mobile) {
    width: 75%;
  }
}
