<div class="mdl-grid mdl-grid--no-spacing content-notes-manager">
  <!--Group list-->
  <div class="mdl-cell mdl-cell--3-col note-group-layout">
    <!--menu of Group-->
    <div class="head-menu-bar" style="background-color: #E0E0E0;">
      <span class="padding-left-font-bold">Group</span>
      <div class="fill-remaining-space"></div>
      <button mat-icon-button (click)="openNoteGroupRemoveDialog()"><i class="fa fa-minus icon-btn-size-m" aria-hidden="true"></i></button>
      <button mat-icon-button (click)="openNoteGroupAddDialog()"><i class="fa fa-plus icon-btn-size-m"
                                                                    aria-hidden="true"></i></button>
    </div>

    <div class="note-group-list">
      <mat-selection-list color="primary" >
        <mat-list-option *ngFor="let group of noteGroups">
          {{group}}
        </mat-list-option>
      </mat-selection-list>
    </div>

  </div><!--End of Group list-->

  <!--Notes list-->
  <div class="mdl-cell mdl-cell--9-col notes-list-layout">
    <div class="head-menu-bar">
      <span class="padding-left-font-bold">Project name</span>
      <button mat-button [matMenuTriggerFor]="shareMenu" style="font-size: 1em;">
        Public (2) <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <mat-menu #shareMenu="matMenu">
        <button mat-menu-item>
          <span>Invite...</span>
        </button>
        <button mat-menu-item disabled>
          <span>Set private</span>
        </button>
        <button mat-menu-item (click)="openShareManagerRemoveDialog()">
          <span>Nguyễn Văn A</span>
        </button>
      </mat-menu>
    </div>

    <!--New note Button-->
    <div style="display: inline;">
      <button mat-raised-button (click)="openNewNoteDialog()" class="btn-new-note">New note</button>
    </div>

    <!--List note-->
    <div class="notes-list">
      <div class="note-card">
        <div class="note-card-title">
          <div>
            <span>Note 1 - text only</span><br/>
            <span style="font-size: 0.9em; color: gray; font-style: italic;">01/01/2017</span>
          </div>
          <div class="fill-remaining-space"></div>
          <button mat-icon-button [matMenuTriggerFor]="itemMenu" style="font-size: 1em;">
            <i class="fa fa-ellipsis-v" style="font-size: 1.5em;" aria-hidden="true"></i>
          </button>
          <mat-menu #itemMenu="matMenu">
            <button mat-menu-item>
              <span>Move to top</span>
            </button>
            <button mat-menu-item>
              <span>Move to bottom</span>
            </button>
            <button mat-menu-item>
              <span>Edit</span>
            </button>
            <button mat-menu-item>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
        <div class="note-card-content">Content note 1: Click on the color wheel to choose a primary (1) and accent (2)
          color to preview the theme below. When you’ve selected a color combination you like.
        </div>
      </div>

      <div class="note-card">
        <div class="note-card-title">
          <div>
            <span>Note 2 - todo list</span><br/>
            <span style="font-size: 0.9em; color: gray; font-style: italic;">01/01/2017</span>
          </div>
          <div class="fill-remaining-space"></div>
          <mat-spinner mode="indeterminate" [diameter]="24"
                       style="margin-top: auto; margin-bottom: auto;"></mat-spinner>
          <button mat-icon-button [matMenuTriggerFor]="itemMenu" style="font-size: 1em;">
            <i class="fa fa-ellipsis-v" style="font-size: 1.5em;" aria-hidden="true"></i>
          </button>
          <mat-menu #itemMenu="matMenu">
            <button mat-menu-item>
              <span>Move to top</span>
            </button>
            <button mat-menu-item>
              <span>Move to bottom</span>
            </button>
            <button mat-menu-item>
              <span>Edit</span>
            </button>
            <button mat-menu-item>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
        <div class="note-card-content">
          <div>
            <mat-checkbox color="primary">
              Todo something 1
            </mat-checkbox>
          </div>
          <div>
            <mat-checkbox color="primary" checked="true" style="text-decoration: line-through; font-style: italic;">
              Todo something 3
            </mat-checkbox>
          </div>
          <div>
            <mat-checkbox color="primary">
              Todo something 4
            </mat-checkbox>
          </div>
        </div>
      </div>

      <div class="note-card">
        <div class="note-card-title">
          <div>
            <span>Note 2 - todo list</span><br/>
            <span style="font-size: 0.9em; color: gray; font-style: italic;">01/01/2017</span>
          </div>
          <div class="fill-remaining-space"></div>
          <mat-spinner mode="indeterminate" [diameter]="24"
                       style="margin-top: auto; margin-bottom: auto;"></mat-spinner>
          <button mat-icon-button [matMenuTriggerFor]="itemMenu2" style="font-size: 1em;">
            <i class="fa fa-ellipsis-v" style="font-size: 1.5em;" aria-hidden="true"></i>
          </button>
          <mat-menu #itemMenu2="matMenu">
            <button mat-menu-item>
              <span>Move to top</span>
            </button>
            <button mat-menu-item>
              <span>Move to bottom</span>
            </button>
            <button mat-menu-item>
              <span>Edit</span>
            </button>
            <button mat-menu-item>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
        <div class="note-card-content">
          <div>
            <mat-checkbox color="primary">
              Todo somthing 1
            </mat-checkbox>
          </div>
          <div>
            <mat-checkbox color="primary" checked="true" style="text-decoration: line-through; font-style: italic;">
              Todo somthing 3
            </mat-checkbox>
          </div>
          <div>
            <mat-checkbox color="primary">
              Todo somthing 4
            </mat-checkbox>
          </div>
        </div>
      </div>

      <div class="note-card">
        <div class="note-card-title">
          <div>
            <span>Note 2 - todo list</span><br/>
            <span style="font-size: 0.9em; color: gray; font-style: italic;">01/01/2017</span>
          </div>
          <div class="fill-remaining-space"></div>
          <mat-spinner mode="indeterminate" [diameter]="24"
                       style="margin-top: auto; margin-bottom: auto;"></mat-spinner>
          <button mat-icon-button [matMenuTriggerFor]="itemMenu3" style="font-size: 1em;">
            <i class="fa fa-ellipsis-v" style="font-size: 1.5em;" aria-hidden="true"></i>
          </button>
          <mat-menu #itemMenu3="matMenu">
            <button mat-menu-item>
              <span>Move to top</span>
            </button>
            <button mat-menu-item>
              <span>Move to bottom</span>
            </button>
            <button mat-menu-item>
              <span>Edit</span>
            </button>
            <button mat-menu-item>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
        <div class="note-card-content">
          <div>
            <mat-checkbox color="primary">
              Todo somthing 1
            </mat-checkbox>
          </div>
          <div>
            <mat-checkbox color="primary" checked="true" style="text-decoration: line-through; font-style: italic;">
              Todo somthing 3
            </mat-checkbox>
          </div>
          <div>
            <mat-checkbox color="primary">
              Todo somthing 4
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div><!--End of Notes list-->
  </div>
</div>



