<h3 mat-dialog-title>Add new notes</h3>
<div mat-dialog-content class="dialog-content">
  <form novalidate name="form-note-details" [formGroup]="noteDetailsFg">
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title" [(ngModel)]="data.groupName">
      <mat-error *ngIf="noteDetailsFg.get('title').hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-radio-group>
      <mat-radio-button color="primary" value="text" checked="true" (click)="noteType='text'">
        Text
      </mat-radio-button>
      <mat-radio-button color="primary" value="todo" (click)="noteType='todo'">
        Todo list
      </mat-radio-button>
    </mat-radio-group>

    <div [hidden]="noteType!='text'">
      <mat-form-field>
        <textarea rows="6" matInput placeholder="Content"></textarea>
      </mat-form-field>
    </div>

    <!--Todo list div-->
    <div class="todo-list-add" [hidden]="noteType=='text'">
      <!--Todo list-->
      <div class="todo-item" *ngFor="let item of todoList">
        <mat-checkbox [checked]="item.checked" (change)="item.checked = !item.checked"
                      [class.checked]="item.checked"
                      color="primary">
          {{item.name}}
        </mat-checkbox>
        {{item.checked}}
        <div class="fill-remaining-space"></div>
        <a (click)="removeTodoItem(item)" mat-icon-button class="icon-btn-size-xm">
          <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
        </a>
      </div>

      <!--Add new todo DIV-->
      <div class="add-new-item-div">
        <mat-form-field style="width: 50%;">
          <input (keyup.enter)="addTodoItem(todoItem)" formControlName="todoName" [(ngModel)]="todoItem"
                 matInput
                 placeholder="Type a todo">
          <mat-error *ngIf="noteDetailsFg.get('todoName').hasError('required')">
            Todo name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button type="button" mat-icon-button (click)="addTodoItem(todoItem)"
                [disabled]="noteDetailsFg.get('todoName').invalid">
          <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
        </button>
      </div>
    </div>

  </form>
</div>
<div mat-dialog-actions style="float: right;">
  <button type="button" tabindex="2" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  <button type="button" tabindex="3" mat-raised-button style="background-color: #33691E; color: white;"
          [mat-dialog-close]="data.groupName" cdkFocusInitial>Add
  </button>
</div>
