form {
  width: 100%;
  mat-form-field {
    width: 100%;
    //flex: 1 0 auto;
    input {
      //width: 100%;
      //flex: 0 1 auto;
    }
  }
}

.mat-radio-button {
  margin: 5px;
}

.todo-list-add {
  display: flex;
  flex-direction: column;
}

.todo-item {
  display: inline-flex;
  padding: 6px;
  border-radius: 4px;
  &:hover {
    background-color: #cbcbcb;
  }
}

.icon-btn-size-xm {
  line-height: 24px;
  width: 24px;
  height: 24px;
}

.add-new-item-div {
  display: inline-flex;
}

.add-new-item-btn {
  line-height: 38px;
  height: 38px;
  width: 140px;
}

.add-button {
  background-color: #33691E;
  color: white;
}
.add-button:disabled{
  //background-color: gray;
}

#file-upload{
  background-color: #243ab3;
  display: none;
}

.custom-file-upload{
  cursor: pointer;
  height: 50px;
  width: 100%;
  &:hover{
    background-color: gainsboro;
  }
}

.image-upload-div{
  width: 100%;
  text-align: center;
}

.mdl-button{
  text-transform: none !important;
}

.uploaded-image{
  min-width: 50px;
  max-width: 90%;
}

.upfile-label{
  color: #3f51b5;
  font-weight: bold;
}

.image-close{
  display: block;
  &:hover{
    cursor: pointer;
    color: #d50000;
  }
}
