<form novalidate name="form"
      (ngSubmit)="changePass()"
      [formGroup]="fgChangePass"
      class="mdc-elevation--z5 center-form">

  <h3 class="align-canter">Change password</h3>

  <mat-form-field class="full-width-signin">
    <input matInput placeholder="Old password" name="old-password"
           [type]="hide ? 'password':'text'"
           formControlName="oldPassword" autofocus
    />
    <mat-icon
      matSuffix (click)="hide = !hide">{{hide?'visibility':'visibility_off'}}
    </mat-icon>
    <mat-error *ngIf="fgChangePass.get('password').hasError('required')">
      Passs is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width-signin">
    <input matInput placeholder="Password" name="password"
           [type]="hide2 ? 'password':'text'"
           formControlName="password"
           [(ngModel)]="confPass"
    />
    <mat-icon
      matSuffix (click)="hide2 = !hide2">{{hide2?'visibility':'visibility_off'}}
    </mat-icon>
    <mat-error *ngIf="fgChangePass.get('password').hasError('required')">
      Passs is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="fgChangePass.get('password').hasError('minlength')">
      The minimum number of characters is 8.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width-signin">
    <input matInput placeholder="Confirm password" name="confirm-password"
           [type]="hide3 ? 'password':'text'"
           formControlName="confirmPass"
           pattern="{{confPass}}"
    />
    <mat-icon
      matSuffix (click)="hide3 = !hide3">{{hide3?'visibility':'visibility_off'}}
    </mat-icon>
    <mat-error *ngIf="fgChangePass.get('confirmPass').hasError('required')">
      Passs is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="fgChangePass.get('confirmPass').hasError('minlength')">
      The minimum number of characters is 8.
    </mat-error>
    <mat-error *ngIf="fgChangePass.get('confirmPass').hasError('pattern')&&!fgChangePass.get('confirmPass').hasError('minlength')">
      Confirm new password <strong>do not match</strong>
    </mat-error>
  </mat-form-field>

  <span class="error" [hidden]="error == ''">{{error}}</span>
  <div style="width: 100%; text-align: right;">
    <a mat-raised-button color="warn" routerLink="/">Cancel</a>
    <button
      class="edit-button"
      [disabled]="fgChangePass.get('oldPassword').invalid ||
      fgChangePass.get('password').invalid ||
      fgChangePass.get('confirmPass').invalid"
      type="submit" mat-raised-button color="default">
      <b>Change</b>
    </button>
  </div>
</form>
