<h3 mat-dialog-title>Edit notes group: {{ groupName }}</h3>
<div mat-dialog-content>
  <mat-form-field style="width:100%;">
    <input matInput tabindex="1" cdkFocusInitial style="width:100%;" required placeholder="Group name"
           [(ngModel)]="groupName" (keyup.enter)="onClose()">
  </mat-form-field>
</div>
<div mat-dialog-actions style="float: right;">
  <button tabindex="2" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  <button tabindex="3" mat-raised-button style="background-color: #33691E; color: white;"
          [mat-dialog-close]="groupName">Edit
  </button>
</div>
