<h3 mat-dialog-title>Invite members to join the note group.</h3>
<p>Members can edit every notes in this note group.</p>
<div mat-dialog-content>
  <mat-form-field style="width:100%;">
    <input matInput tabindex="1" style="width:100%;" required placeholder="The member's email"
           [(ngModel)]="memberEmail"
           (keyup)="findMemberEmail()" cdkFocusInitial>
  </mat-form-field>
  <div style="line-height: 40px; height: 40px">
    <p [@fadeInOut]="state" *ngIf="showError" style="color: red;">Not found! <i class="fa fa-exclamation-circle"
                                                                                aria-hidden="true"></i></p>
    <p [@fadeInOut]="state" *ngIf="memberName">{{memberName}} <i class="fa fa-check-circle" aria-hidden="true"
                                                                 style="color: green;"></i></p>
  </div>
</div>
<div mat-dialog-actions style="float: right;">
  <button tabindex="2" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  <button tabindex="3" mat-raised-button [disabled]="!memberId" class="add-button" [mat-dialog-close]="memberId">Add
  </button>
</div>
