<div class="mdl-layout mdl-js-layout layout all-of-page">
  <!--Header BEGIN-->
  <div>
    <mat-toolbar>
      <!--Title-->
      <a routerLink="/" class="toolbar-title">
        <i style="color: white; font-size: 2em;" class="material-icons">view_list</i>
      </a>
      <a routerLink="/" class="toolbar-title">
        <span>FTEL Notes</span>
      </a>

      <!--Search box-->
      <input [hidden]="!user" class="search-box" type="text" placeholder="search">
      <button [hidden]="!user" mat-button class="search-btn"><i class="material-icons white">search</i></button>


      <span class="fill-remaining-space"></span>

      <!--Login/Sign up-->
      <!--<div [hidden]="user">-->
      <button [hidden]="user" mat-button routerLink="/login" class="white">Login</button>
      <button [hidden]="user" mat-button routerLink="/signup" class="white">Sign up</button>
      <!--</div>-->

      <!--User/Logout-->
      <div [hidden]="!user">
        <button mat-button [matMenuTriggerFor]="userMenu">
        <span mat-button *ngIf="user" class="white" style="font-size: 1.25em;">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          {{ user.profile.firstName + ' ' + user.profile.lastName }}
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </span>
        </button>
        <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item routerLink="/profile">
            <mat-icon><i class="fa fa-user" aria-hidden="true"></i></mat-icon>
            <span> Profile</span>
          </button>
          <button mat-menu-item routerLink="/change-pass">
            <mat-icon><i class="fa fa-unlock-alt" aria-hidden="true"></i></mat-icon>
            <span> Change password</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon><i class="fa fa-sign-out" aria-hidden="true"></i></mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
  </div>
  <!--Header END-->

  <!--<header class="mdl-layout__header mdl-layout__header--waterfall">-->
  <!--&lt;!&ndash; Top row, always visible &ndash;&gt;-->
  <!--<div class="mdl-layout__header-row">-->
  <!--&lt;!&ndash; Title &ndash;&gt;-->
  <!--<span class="mdl-layout-title">Title</span>-->
  <!--<div class="mdl-layout-spacer"></div>-->
  <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable-->
  <!--mdl-textfield--floating-label mdl-textfield--align-right">-->
  <!--<label class="mdl-button mdl-js-button mdl-button--icon"-->
  <!--for="waterfall-exp">-->
  <!--<i class="material-icons">search</i>-->
  <!--</label>-->
  <!--<div class="mdl-textfield__expandable-holder">-->
  <!--<input class="mdl-textfield__input" type="text" name="sample"-->
  <!--id="waterfall-exp">-->
  <!--</div>-->
  <!--</div>-->
  <!--<nav class="mdl-navigation">-->
  <!--<a class="mdl-navigation__link" href="">Link</a>-->
  <!--<a class="mdl-navigation__link" href="">Link</a>-->
  <!--<a class="mdl-navigation__link" href="">Link</a>-->
  <!--<a class="mdl-navigation__link" href="">Link</a>-->
  <!--</nav>-->
  <!--</div>-->
  <!--</header>-->

  <!--<div class="mdl-layout__drawer">-->
  <!--<span class="mdl-layout-title">Title</span>-->
  <!--<nav class="mdl-navigation">-->
  <!--<a class="mdl-navigation__link" href="">Link</a>-->
  <!--<a class="mdl-navigation__link" href="">Link</a>-->
  <!--<a class="mdl-navigation__link" href="">Link</a>-->
  <!--<a class="mdl-navigation__link" href="">Link</a>-->
  <!--</nav>-->
  <!--</div>-->

  <!--Content-->
  <main class="mdl-layout__content main-content">
    <router-outlet></router-outlet>
  </main>
</div>



