// scroollbar
::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

.all-of-page{
  overflow-y: hidden;
}

::-webkit-scrollbar-thumb
{
  background-color: #444444;
}

.toolbar-title {
  text-decoration: none;
  color: white;
  display: block;
  line-height: 1;
  vertical-align: middle;
}

.mat-toolbar {
  background: #3f51b5;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.white {
  color: white;
}

.search-box {
  margin-left: 20px;
  font-size: 0.8em;
  width: 30%;
  padding: 5px;
  height: 24px;
  border: 0px;
  border-radius: 5px 0px 0px 5px;
}

.search-btn{
  border-radius: 0px 5px 5px 0px;
  background-color: #243ab3;
  width: 20px;
  height: 34px;
}

.mdl-layout__content.main-content{
  display: flex;
}
