<form novalidate name="form"
      (ngSubmit)="editProfile()"
      [formGroup]="fgSignup"
      class="mdc-elevation--z5 center-form">

  <h3 class="align-canter">Your profile</h3>

  <mat-form-field class="full-width-signin">
    <input type="text" matInput placeholder="Firstname" name="firstname"
           formControlName="firstName" [(ngModel)]="user.profile.firstName" autofocus
    />
    <mat-error *ngIf="fgSignup.get('firstName').hasError('required')">
      Firstname is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width-signin">
    <input type="text" matInput placeholder="Lastname" name="lastname"
           formControlName="lastName" [(ngModel)]="user.profile.lastName">
    <mat-error *ngIf="fgSignup.get('lastName').hasError('required')">
      Lastname is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <span class="error" [hidden]="error == ''">{{error}}</span>
  <div style="width: 100%; text-align: right;">
    <a mat-raised-button color="warn" routerLink="/">Cancel</a>
    <button
      class="edit-button"
      [disabled]="
      fgSignup.get('firstName').invalid ||
      fgSignup.get('lastName').invalid"
      type="submit" mat-raised-button color="default">
      <b>Edit</b>
    </button>
  </div>
</form>
