<form novalidate name="form"
      (ngSubmit)="onSubmit()"
      [formGroup]="fgForgotPass"
      class="mdc-elevation--z5 center-form">

  <h3 class="align-canter">Forgot password</h3>

  <mat-form-field class="full-width-signin">
    <input type="text" matInput placeholder="Enter your email" name="username"
           formControlName="username" autofocus
    />
    <mat-error
      *ngIf="fgForgotPass.get('username').hasError('email') && !fgForgotPass.get('username').hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="fgForgotPass.get('username').hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
    <mat-error
      *ngIf="fgForgotPass.get('username').hasError('invalid-username') && !fgForgotPass.get('username').hasError('email')">
      Email is <strong>invalid</strong>
    </mat-error>
  </mat-form-field>
  <div style="display: flex;">
    <div class="fill-remaining-space"></div>
    <mat-spinner [hidden]="hidenLoading" mode="indeterminate" [diameter]="24"
                 style="margin-top: auto; margin-bottom: auto;"></mat-spinner>
  </div>
  <span class="error" [hidden]="error == ''">{{error}}</span>
  <div style="width: 100%; text-align: right;">
    <a mat-raised-button color="warn" routerLink="/">Cancel</a>
    <button
      class="edit-button"
      [disabled]="fgForgotPass.get('username').invalid || disableBtn"
      type="submit" mat-raised-button color="default">
      <b>Reset password</b>
    </button>
  </div>
</form>
