/* You can add global styles to this file, and also import other style files */

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("./assets/background.jpg");
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.loading-div {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 12px;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.5);
}

//.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
//  border-color: #3f51b5;
//}
//.mat-radio-button.mat-accent .mat-radio-inner-circle {
//  background-color: #3f51b5;
//}

.mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background: #3f51b5;
}

.checked {
  font-style: italic;
  text-decoration: line-through;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
